:root {
    --dark: #0f1213;
    --darker: #1f2d37;
    --darkest: #112127;
    --gray: #6B7280;
    --green: #00ff40;
    --blue: #0066ff;
    --light: rgb(241, 241, 241);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira code', monospace;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--dark);
    color: var(--light);
    user-select: none;

}

header {
    padding: 2rem 1rem;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;  
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    font-size: 8rem;
    font-weight: 700;
    color: var(--gray);
    margin-bottom: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    appearance: none;
    border: none;
    outline: none;
    background: none;
}

#new-task-input {
    flex: 1 1 0%;
    background-color: var(--darker);
    padding: 2rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: var(--light);
    font-size: 2.25rem;
}

#new-task-input::placeholder {
    color: var(--gray);
}

#new-task-submit {
    font-size: 2rem;
    font-weight: 700;
    background-image: linear-gradient(to right, var(--green), var(--blue));
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: opacity .6s;
}

#new-task-submit:hover,
.task .actions .edit:hover {
    opacity: 0.8;
}

#new-task-submit:active,
.task .actions .edit:active {
    opacity: 0.8;
}

main {
    flex: 1 1 0%;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

.task-list {
    padding: 1rem;
}

.task-list h2 {
    font-size: 2.5rem;
    font-weight: 300;
    color: var(--gray);
    margin-bottom: 1rem;
}

#tasks .task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--darkest);
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
}

#tasks .task .content {
    flex: 1 1 0%;
}

#tasks .task .content p {
    color: var(--light);
    font-size: 1.5rem;
    max-width:  1000px;
    width: 100%;
    display: block;
    transition: all .4s;
}


.task i  {
    display: flex;
    cursor: pointer;
    color: var(--light);
    font-size: 1.5rem;
    transition: color .4s;
}

#tasks .content.-done{
    text-decoration: line-through;
    opacity: 0.6;
}

.task i:hover {
    color: rgb(255, 52, 52);
    text-shadow: 0px 0px 5px red;
}


/* ----------------------------Responsividade---------------------------- */


@media (max-width: 1024px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 6rem;

    }

    header .container {
        display: flex;
        flex-direction: column;
    }
    #new-task-input{
        padding: 2rem;
        width: 80vw;
        font-size: 1.25rem;
    }

    #new-task-submit{
        padding-top: 30px;
        font-size: 1.75rem;
    }

}
@media (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 5.5rem;

    }
    header .container {
        display: flex;
        flex-direction: column;
    }
    #new-task-input{
        padding: 3rem;
        font-size: 2rem;
    }

    #new-task-submit{
        padding-top: 30px;
        font-size: 2.05rem;
    }

}

@media (max-width:425px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    header h1 {
        font-size: 3rem;

    }
    header .container {
        display: flex;
        flex-direction: column;
    }
    #new-task-input{
        padding: 2rem;
        font-size: 1rem;
    }

    #new-task-submit{
        padding-top: 30px;
        font-size: 2rem;
    }
}